NEXT_PUBLIC_API_URL=http://localhost:8000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret-min-32-chars

# Must match GitHub OAuth App settings
GITHUB_CLIENT_ID=Ov23lieVRAXnbmlONJY0
GITHUB_CLIENT_SECRET=a0f5fe8d63e43afc2dd0f839e5460eaa10ed88a4
